
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* begin navigation ------------------------------------------------------ */


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
}

/* end navigation ------------------------------------------------------ */

/* begin main content ------------------------------------------------------ */
.main-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 92vh;
}

/* begin schedule modifier */
.schedule-modifier{
    height: 92vh;
    width: 50vw;
    border-right: 2px solid black;
    text-align: center;
}

.course-header {
    background-color: cyan;
    height: 10%;
    position: relative;
}
.header-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 38%;
}

.course-list{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.course-container {
    border: 2px solid black;
    margin: 2px;
}

.course-name-btn {
    position: relative;
    display: flex;
    background-color: green;
}

.course-name {
    background-color: lightgreen;
    height: 5vh;
    font-weight: 700;
    width: 50%;
    border-radius: 10px;
    padding-top: 5px;
}


/* add hold delete */
.add-hold-delete {
    width: 60%;
    background-color: green;
    display: flex;
}
.add-period-button {
    width: 33.33%;
    background-color: lightgrey;
    border-radius: 15px;
    border-color: grey;
}
.add-period-button:hover {
    background-color: grey;
}
.hold-period-button {
    width: 33.33%;
    background-color: lightblue;
    border-radius: 15px;
    border-color: blue;
}
.hold-period-button:hover {
    background-color: blue;
}
.delete-period-button {
    width: 33.33%;
    background-color: lightcoral;
    border-radius: 15px;
    border-color: red;
}
.delete-period-button:hover {
    background-color: red;
}
/* end add hold delete */
.course-option-list {
    display: flex;
    overflow-x: scroll;
    min-height: 15vh;
}

.list-item {
    flex: 0 0 30%;
    list-style: none;
    background-color: lightgreen;
    margin: 2px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    white-space: nowrap;
}

.left-button {
    width: 100%;
    height: 10%; 
    display: flex;
    text-align: center;
    margin-bottom: 5%;
}

.add-course-button {
    width: 45%;
    height: 100%;
    border-radius: 2px;
    background-color: skyblue;
    margin: 5px;
}
.generate-schedule {
    width: 45%;
    height: 100%;
    border-radius: 2px;
    background-color: skyblue;
    margin: 5px;
}

/* begin schedule generated */
.schedule-generated {
    height: 92vh;
    width: 50vw;
}

.schedule-table{
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.table-header{
    height: 10%;
    width: 100%;
    display: flex;
}
.table-header-extra {
    flex: 0 0 9%;
    border-right: 1px solid black;
}
.table-header-day {
    flex: 0 0 13%;
    border-right: 1px solid black;
    overflow: hidden;
}


.schedule-table-inside {
    height: 90%;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
}

.table-time{
    flex: 0 0 9%;
    width: 9%;
    display: flex;
    flex-direction: column;
}

.hour{
    flex: 0 0 15%;
    border-right: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}
.draw-course-color{
    background-color: green;
}
.draw-color {
    background-color: lightgreen;
}

.table-day{
    flex: 0 0 13%;
    width: 13%;
    display: flex;
    flex-direction: column;
}



/* choose between schedule plans */
.number-plan {
    height: 3%;
    text-align: center;
    width: 100%;
}
.table-scroller{
    height: 7%;
    width: 100%;
    text-align: center;
    display: flex;
}
.previous {
    width: 50%;
    height: 100%;
}
.next {
    width: 50%;
    height: 100%;
}

/* end main content ------------------------------------------------------ */




/* begin add course page ------------------------------------------------------ */
.add-course-page{
    position: fixed;
    min-width: 50vw;
    min-height: 50vh;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    background-color: green;
    display: none;
    overflow: scroll;
}

.add-course-form {
    text-align: center;
}


.form-control {
    text-align: left;
}
.form-control-header {
    display: flex;
}
.form-control-name {
    flex: 0 0 50%;
    text-align: center;
    display: flex;
}
.course-name-tag {
    flex: 0 0 30%;
}
/* required field color */
.required-name {
    color: black;
}
.form-control-name-input {
    flex: 0 0 70%;
    height: 30px;
}
.add-period-and-submit{
    flex: 0 0 50%;
    text-align: center;
    display: flex;
}
.form-control-add-period {
    flex: 0 0 50%;
    min-width: 100px;
    height: 30px;
    border: 1px solid green;
    border-radius: 3px;

}
.submit-course-btn {
    flex: 0 0 50%;
    height: 30px;
    border: 1px solid green;
    border-radius: 3px;
}

.form-period-list{
    display: flex;
    justify-content: flex-start;
}

.form-control-period{
    flex: 0 0 35%;
    background-color: lightgreen;
    white-space: nowrap;
    margin: 2px;
}



.form-control-period-start {
    width: 30px;
}
.form-control-period-end {
    width: 30px;
}


/* delete hold period */
.delete-hold {
    display: flex;
    background-color: green;
}
.hold-period {
    width: 50%;
    background-color: lightblue;
    border-radius: 10px;
}
.hold-period:hover {
    background-color: blue;
}
.delete-period {
    width: 50%;
    background-color: lightcoral;
    border-radius: 10px;
}
.delete-period:hover{
    background-color: red;
}
/* end delete hold period */

/* end add course page ------------------------------------------------------ */


/* begin add period page ----------------------------------------------------- */
.add-period-page{
    position: fixed;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 15vh;
    text-align: center;
    background-color: green;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.close-add-period-page {
    height: 10%;
    width: 10%;
    position: absolute;
    right: 0;
    background-color: red;
    outline: none;
    border: none;
    justify-content: end;
    cursor: pointer;
}

.form-control-period-add {
    position: absolute;
    top: 10%;
    width: 60%;
    left: 20%;
    background-color: lightgreen;
}

.submit-period-btn {
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 10%;
    left: 10%;
    border: none;
    background-color: black;
    color: white;
    font-size: 200%;
    border-radius: 10px;
    cursor: pointer;
}


/* end add period page ----------------------------------------------------- */

.display-period-info {
    position: relative;
    width: 100%;
    height: 100%;
}
/* hold ------------------------------------------------------------------- */
.hold-actual1 {
    background-color: white;
    opacity: 50%;
    pointer-events: none;
}
.hold-actual2 {
    background-color: white;
    opacity: 50%;
    pointer-events: none;
}
.hold-actual3 {
    position: relative;
    background-color: white;
    opacity: 50%;
    pointer-events: none;
}


/* begin media ------------------------------------------------------ */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
/* ------------------------------------------ */
    .main-content {
        flex-direction: column;
    }
    .schedule-modifier {
        width: 100%;
    }
    .schedule-generated {
        width: 100%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
